<div class="footer">
    <div class="text">
    <h1 class="h3 ">Get The Fresh Cart APP</h1>
    <P>lorem ipsum dolor sit amet consectetur adipisic ipsum dolor sit amet consectetur adipisicing elit.</P>
    <div class="mb-3 d-flex">
    <label for="exampleFormControlInput1" class="form-label"></label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    <div class="div">
        <button type="button" class="btn btn-success">Success</button>
    </div>
    </div>
        <div class="pay d-flex align-items-center  gap-4">
        <div class="pr"> <P>lorem ipsum doadipisicing elit.</P></div>
        <div class="image">
            <img src="../../../../assets/images/master.svg" alt="">
        </div>
        <div class="image">
            <img src="../../../../assets/images/visa-1.svg" alt="">
        </div>
    <div class="image">
        <img src="../../../../assets/images/visa.svg" alt="">
    </div>
    </div>

    </div>
  </div>

