<div class="w-75 my-5 mx-auto">
    <h3 class="fw-bold text-info-emphasis">Forget Password</h3>

<!---email-->
 @if (!isCodeForm && !isNewPassForm) {
  <form [formGroup]="emailForm" (ngSubmit)="forgetsup()">
    <div class="mb-3">
      <label class="form-label">email :</label>
      <input formControlName="email"  class="form-control">
      @if (emailForm.get('email')?.errors && emailForm.get('email')?.touched) {
          <div class="alert alert-danger">
            @if (emailForm.get('email')?.errors?.['required']) {
              <p>Email is Required</p>
            }
            @else if (emailForm.get('email')?.errors?.['email']) {
            <p>kindly inter valid email</p>
            }
          </div>
      }
    </div>
    






    <button  [disabled]="emailForm.invalid" type="submit" class="btn bg-dark text-white d-block ms-auto">verify
      @if (isForget) {
        <span>
          <i class="fa  fa-spinner fa-spin"></i>
        </span>
      }
    </button>
</form>
 }
<!---end email-->



<!----code.....-->
@if (isCodeForm) {
  <form [formGroup]="codeForm" (ngSubmit)="codesup()">
    <div class="mb-3">
        <label class="form-label">code :</label>
        <input formControlName="resetCode"  class="form-control">
        @if (codeForm.get('resetCode')?.errors && codeForm.get('resetCode')?.touched) {
            <div class="alert alert-danger">
              @if (codeForm.get('resetCode')?.errors?.['required']) {
                <p>resetCode is Required</p>
              }
            </div>
        }
      </div>










    
    <button  [disabled]="codeForm.invalid" type="submit" class="btn bg-dark text-white d-block ms-auto">Code
      @if (isForget) {
        <span>
          <i class="fa  fa-spinner fa-spin"></i>
        </span>
      }
    </button>
</form>
}

<!--new pass-->
@if (isNewPassForm) {
  <form [formGroup]="restPassForm" (ngSubmit)="newPassSup()">

    <div class="mb-3">
        <label class="form-label">email :</label>
        <input formControlName="email"  class="form-control">
        
        @if (restPassForm.get('email')?.errors && restPassForm.get('email')?.touched) {
            <div class="alert alert-danger">
              @if (restPassForm.get('email')?.errors?.['required']) {
                <p>Email is Required</p>
              }
              @else if (restPassForm.get('email')?.errors?.['email']) {
              <p>kindly inter valid email</p>
              }
            </div>
          }

    </div>



    


    <div class="mb-3">
        <label class="form-label">New Password :</label>
        <input formControlName="newPassword"  class="form-control">
        @if (restPassForm.get('newPassword')?.errors && restPassForm.get('newPassword')?.touched) {
            <div class="alert alert-danger">
              @if (restPassForm.get('newPassword')?.errors?.['required']) {
                <p>newPassword is Required</p>
              }
              @else if (restPassForm.get('newPassword')?.errors?.['pattern']) {
                <p>kindly inter valid newPassword</p>
  
              }
            </div>
          }

    </div>









    
    <button  [disabled]="restPassForm.invalid" type="submit" class="btn bg-dark text-white d-block ms-auto">New Password
    @if (isForget) {
        <span>
        <i class="fa  fa-spinner fa-spin"></i>
        </span>
    }
    </button>
</form>
}